.navbar{
    background: linear-gradient(to top, #22577A, #667eea);
}
.nav-link{
    font-size: 30px;
    color: $text-btn;
}
.navbar-brand{
    font-size: 25px;
    color: $text-btn;
}
.navbar-toggler{
    opacity: 0.4;
}