$text-btn: #fff;
$color-primary: #22577A;
$color-title: white;
$align-title: left;
$padding-container: 100px 0;
$width-container: 100%;
$max-width-container: 1440px;
$color-btn: #C7F9CC;
$padding-btn: 20px 35px;
$height-shape:18em;
